<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Information</title>
</head>
<body>
    <h1>Weather Information</h1>
    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe">
    </form>
    
    <div id="weatherInfo">
        <h2>City: <span id="cityName">{{city_weather.city}}</span></h2>
        <p>Temperature: <span id="temperature">{{city_weather.temperature}}</span>&deg;C</p>
        <p>Description: <span id="description">{{city_weather.description}}</span></p>
    </div>
</body>
</html>
